<article id="about" class="section-presentation">
    <div class="container-presentation">
        <span>👋Hola, soy</span>
        <h1>Roberto Sánchez</h1>
        <p>Estudiante de Sistemas en camino a ser desarrollador Front-end</p>
    </div>
    <div class="social-media">
        <a href="https://github.com/RobertoSanchez18" target="_blank"><img src="../../assets/images/icon-github.svg"
                alt="icon-github"></a>
        <a href="https://www.linkedin.com/in/roberto-s%C3%A1nchez-dev" target="_blank"><img
                src="../../assets/images/icon-linkedin.svg" alt="icon-linkedin"></a>
        <button class="btn-contactame" type="button">Contáctame</button>
    </div>
</article>