<article id="skills" class="container-skills">

    <div class="title-skills">
        <h2>Skills</h2>
    </div>

    <div class="container-icons-skills">
        <img title="html" src="../../assets/images/icon-html5.svg" alt="icon-html5">
        <img title="css" src="../../assets/images/icon-css3.svg" alt="icon-css3">
        <img title="javascript" src="../../assets/images/icon-js.svg" alt="icon-js">
        <img title="java" src="../../assets/images/icon-java.svg" alt="icon-java">
        <img title="bootstrap" src="../../assets/images/icon-boostrap.svg" alt="icon-boostrap">
        <img title="angular" src="../../assets/images/icon-angular.svg" alt="icon-angular">
    </div>

</article>